<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;margin-top: 5px;">صفحه مورد نظر پیدا نشد </h1>
    <h3 style="text-align: center;margin-top: 10px;">-404-</h3>
    <div style="text-align:center;margin-top: 20px;">
        <a style="border-radius: 5px;line-height: 25px;text-decoration: none;width: 100px;height: 25px;background-color: rgb(69, 69, 162);color: white;display: inline-block;text-align: center;" href="/">بازگشت به خانه</a>
    </div>
</body>
</html>